$orange: #ff7400;
$red: #f00;
$green: #0f0;
$blue: #00f;
$white: #fff;
$black: #000;

$curve: cubic-bezier(0.55, 0, 0.1, 1);

/* Normalize */
@import 'normalize';

/* Global adjustments */
*, *:before, *:after {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased; outline: none;
}

@import url('https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap');

html, body {
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  font-size: 18px;
  font-family: 'Roboto Mono', monospace, sans-serif, serif;

  @media (max-width: 800px) {
    font-size: 12px;
  }

  a {
    color: $white;
  }

  .top {
    display: flex;
    overflow: hidden;

    @media (max-width: 800px) {
      flex-wrap: wrap;
    }

    #map {
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      flex: 1 0 70%;
      font-size: 26px;
      background-color: $orange;
      background-image: url(../images/background-orange.png);
      padding: 10px;
      overflow: hidden;

      @media (max-width: 800px) {
        flex: 0 0 100%;
        order: 2;
        height: calc(100% - 110px);
        font-size: 20px;
      }

      &.orange {
        background-color: $orange;
        background-image: url(../images/background-orange.png);
      }

      &.green {
        background-color: #499600;
        background-image: url(../images/background-green.png);
      }

      &.gray {
        background-color: #999;
        background-image: none;
      }

      &.brown {
        background-color: #965c00;
        background-image: url(../images/background-brown.png);
      }

      #controls {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;

        div {
          position: absolute;
        }

        .n {
          top: 0;
          right: 33.33%;
          left: 33.33%;
          bottom: 66.66%;
        }

        .ne {
          top: 0;
          right: 0;
          bottom: 66.66%;
          left: 66.66%;
        }

        .e {
          top: 33.33%;
          right: 0;
          bottom: 33.33%;
          left: 66.66%;
        }

        .se {
          top: 66.66%;
          right: 0;
          bottom: 0;
          left: 66.66%;
        }

        .s {
          top: 66.66%;
          right: 33.33%;
          left: 33.33%;
          bottom: 0;
        }

        .sw {
          top: 66.66%;
          right: 66.66%;
          bottom: 0;
          left: 0;
        }

        .w {
          top: 33.33%;
          right: 66.66%;
          bottom: 33.33%;
          left: 0;
        }

        .nw {
          top: 0;
          right: 66.66%;
          bottom: 66.66%;
          left: 0;
        }

        .wait {
          top: 33.33%;
          right: 33.33%;
          left: 33.33%;
          bottom: 33.33%;
        }
      }

      #overlay {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: $red;
        background-image: url(../images/background-red.png);
        mix-blend-mode: darken;
        opacity: 0;
        pointer-events: none;

        &.show {
          opacity: 1;
        }
      }

      .box {
        width: auto;
        white-space: nowrap;
        overflow: hidden;
        
        span {
          display: inline-block;
          width: 30px;
          height: 40px;
          text-align: center;

          @media (max-width: 800px) {
            width: (0.6 * 30px);
            height: (0.6 * 40px);
          }
        }
      }
    }

    #output {
      flex: 0 0 30%;
      color: $white;
      background-color: $red;
      background-image: url(../images/background-red.png);
      padding: 10px;

      @media (max-width: 800px) {
        flex: 0 0 100%;
        order: 1;
        height: 110px;
      }

      .box {
        overflow-y: scroll;
      }
    }
  }

  .bottom {
    #attributes {
      flex: 0 0 100%;
      color: $white;
      background-color: $blue;
      background-image: url(../images/background-blue.png);
      padding: 10px;

      .box {
        display: flex;
        flex-wrap: wrap;
        padding: 0;

        .attribute {
          display: flex;
          flex: 0 0 auto;
          padding: 10px;
          border-right: 2px solid $white;

          &.orange {
            background-color: $orange;
            background-image: url(../images/background-orange.png);
          }

          &.red {
            background-color: $red;
            background-image: url(../images/background-red.png);
          }

          .stat {
            margin-right: 10px;

            @media (max-width: 800px) {
              margin-right: 5px;
            }
          }

          .current {
            text-align: right;
          }
        }

        .level {
          display: flex;
          position: relative;
          align-items: center;
          justify-content: center;
          flex: 1 0 auto;

          .progress {
            position: absolute;
            top: 0;
            right: 100%;
            bottom: 0;
            left: -2px;
            background: repeating-linear-gradient(
              45deg,
              $white,
              $white 2px,
              transparent 2px,
              transparent 15px
            );
            border-right: 2px solid $white;
          }

          .text {
            position: relative;
            background-color: $blue;
            background-image: url(../images/background-blue.png);
            border-right: 2px solid $white;
            border-left: 2px solid $white;
            padding: 10px;
          }
        }
      }
    }
  }

  .modal {
    position: fixed;
    top: 50%;
    left: 50%;
    color: $white;
    background-color: red;
    background-image: url(../images/background-red.png);
    padding: 10px;
    transform: translate(-50%, -50%);

    &.look {
      display: none; 
    }

    &.intro {
    }

    input[type="text"] {
      width: 100%;
      color: $white;
      background-color: transparent;
      border: 0;
      border-bottom: 2px solid $white;
    }

    .choices {
      display: flex;
      flex-wrap: wrap;
      text-align: center;

      div {
        flex: 0 0 20%;
        font-size: 26px;
        margin-bottom: 10px;
        cursor: pointer;
      }
    }
  }

  .box {
    width: 100%;
    height: 100%;
    padding: 10px;
    border: 2px solid white;
  }
}
